@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img, span {
  display: block
}

.header {
  @apply text-2xl font-bold;
}

.input {
  @apply bg-white h-8 px-3 rounded-md text-xs border-[1.5px] font-medium focus:outline-none 
}

.label-primary {
  @apply text-[12px] font-bold text-typography-primary
}

.label-secondary {
  @apply text-[12px] font-medium text-typography-secondary
}

.input-error {
  @apply text-red-500 font-bold text-xs
}

.card {
  @apply bg-white shadow-2xl shadow-gray-400/10 rounded-2xl
}

.button-primary {
  @apply rounded-xl bg-button-primary hover:bg-accent-primary transition-all duration-300
}

.button-primary__content {
  @apply text-accent-primary group-hover:text-white  transition-all duration-300
}